---
server_url: {{ headscale_url }}
listen_addr: {{ headscale_listen_address }}:{{ headscale_listen_port }}
metrics_listen_addr: {{ headscale_metrics_listen_address }}:{{ headscale_metrics_listen_port }}
grpc_listen_addr: {{ headscale_grpc_listen_address }}:{{ headscale_grpc_listen_port }}
grpc_allow_insecure: {{ headscale_grpc_allow_insecure | bool | lower }}
trusted_proxies: {{ headscale_trusted_proxies | to_json }}
noise:
  private_key_path: {{ headscale_noise_private_key_path }}
prefixes:
  v4: {{ headscale_tailnet_v4_prefix }}
  v6: {{ headscale_tailnet_v6_prefix }}
allocation: {{ headscale_ip_allocation }}
derp:
  server:
    enabled: {{ headscale_derp_enabled | bool | lower }}
    region_id: {{ headscale_derp_region_id }}
    region_code: {{ headscale_derp_region_code }}
    region_name: {{ headscale_derp_region_name | to_json }}
    verify_clients: {{ headscale_derp_verify_clients | bool | lower }}
    stun_listen_addr: "{{ headscale_stun_listen_address }}:{{ headscale_stun_port }}"
    private_key_path: {{ headscale_derp_private_key_path }}
    automatically_add_embedded_derp_region: {{ headscale_derp_auto_add_region | bool | lower }}
    ipv4: {{ headscale_derp_ipv4 | to_json }}
    ipv6: {{ headscale_derp_ipv6 | to_json }}
  urls: {{ headscale_derp_urls | to_json }}
  paths: {{ headscale_derp_paths | to_json }}
  auto_update_enabled: {{ headscale_derp_auto_update_enabled | bool | lower }}
  update_frequency: {{ headscale_derp_update_frequency }}
disable_check_updates: {{ headscale_disable_check_updates | bool | lower }}
node:
  expiry: {{ headscale_node_expiry }}
  ephemeral:
    inactivity_timeout: {{ headscale_ephemeral_inactivity_timeout }}
  routes:
    ha:
      probe_interval: {{ headscale_route_probe_interval }}
      probe_timeout: {{ headscale_route_probe_timeout }}
database:
  type: {{ headscale_database_type }}
  debug: {{ headscale_database_debug | bool | lower }}
  gorm:
    prepare_stmt: {{ headscale_database_prepare_stmt | bool | lower }}
    parameterized_queries: {{ headscale_database_parameterized_queries | bool | lower }}
    skip_err_record_not_found: {{ headscale_database_skip_not_found | bool | lower }}
    slow_threshold: {{ headscale_database_slow_threshold }}
  sqlite:
    path: {{ headscale_database_path }}
    write_ahead_log: {{ headscale_database_write_ahead_log | bool | lower }}
    wal_autocheckpoint: {{ headscale_database_wal_autocheckpoint }}
tls_letsencrypt_hostname: {{ headscale_letsencrypt_hostname | to_json }}
tls_letsencrypt_cache_dir: {{ headscale_letsencrypt_cache_dir }}
tls_letsencrypt_challenge_type: {{ headscale_letsencrypt_challenge_type }}
tls_letsencrypt_listen: {{ headscale_letsencrypt_listen | to_json }}
tls_cert_path: {{ headscale_tls_cert_path }}
tls_key_path: {{ headscale_tls_key_path }}
log:
  level: {{ headscale_log_level }}
  format: {{ headscale_log_format }}
policy:
  mode: {{ headscale_policy_mode }}
{% if headscale_policy_mode == 'file' %}
  path: {{ headscale_policy_path }}
{% endif %}
dns:
  magic_dns: {{ headscale_magic_dns | bool | lower }}
  base_domain: {{ headscale_dns_domain }}
  override_local_dns: {{ headscale_override_local_dns | bool | lower }}
  nameservers:
    global: {{ headscale_dns_global_nameservers | to_json }}
    split: {{ headscale_dns_split_nameservers | to_json }}
  search_domains: {{ headscale_dns_search_domains | to_json }}
  extra_records: {{ headscale_dns_extra_records | to_json }}
unix_socket: {{ headscale_unix_socket_path }}
unix_socket_permission: {{ headscale_unix_socket_permission | to_json }}
logtail:
  enabled: {{ headscale_logtail_enabled | bool | lower }}
taildrop:
  enabled: {{ headscale_taildrop_enabled | bool | lower }}
auto_update:
  enabled: {{ headscale_auto_update_enabled | bool | lower }}
