{
{% if headscale_router_tags_enabled | bool %}
{% set managed_tags = groups['tailscale_routers'] | map('extract', hostvars, 'headscale_node_tags') | flatten | unique | list %}
  "tagOwners": {
{% for tag in managed_tags %}
    "{{ tag }}": ["{{ headscale_user_name }}@"]{{ ',' if not loop.last else '' }}{{ '\n' -}}
{% endfor %}
  },
{% endif %}
  "grants": [
    {
      "src": ["*"],
      "dst": ["*"],
      "ip": ["*"]
    }
  ]
}
